.block {
  width: 100%;
  min-height: 55em;
  padding: 5% 4.5%;
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0;
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  border: 12px solid #eeeeee;
  border-radius: 15px;
  flex-wrap: nowrap;
}
.content {
  width: 45%;
}
.client_role {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.desc {
  margin: 25px 0;
}
.image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 55%;
  right: 0;
  margin: 15px 0;
}
.button {
  width: 68%;
  min-width: 240px;
}
@media (max-width: 1023px) {
  .block {
    padding: 0 2.5%;
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .client_role {
    width: 80%;
    margin-bottom: 15px;
  }
  .image {
    position: relative;
    width: 100%;
    margin: -30px 0 75px 0;
    padding-top: 100%;
    background-position: center center !important;
  }
  .button {
    position: absolute !important;
    z-index: 10;
    bottom: 8px;
    left: 50%;
    margin-left: -120px;
  }
}
@media (max-width: 767px) {
  .block {
    padding: 0 4%;
  }
  .client_role {
    width: 100%;
    flex-wrap: wrap;
  }
  .image {
    padding-top: 160%;
    background-position: center !important;
  }
}
